html {
  background-color: #adbdcc;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #d38b26;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(216, 82, 82);
}
button {
    color:blue
}